<form class="get-by-state" action="/api/killings" method="get">
  <label for="state">State Abbr ("TX")</label>
  <input type="text" name="state">
  <input class="submit-state" type="submit">
</form>

<form class="enter-lat-lon" action="/api/killings" method="get">
  <input type="text" name="lat" placeholder="Lat">
  <input type="text" name="lon" placeholder="Lon">
  <input class="submit-lat-lon" type="submit">
</form>

<div class="killings"></div>

<div id='map-one' class='map'> </div>

