<div id='container' class="">
  <div id='content'>
    <div id='filters-container'>
      <button class="button-filter filter-type" id="usPop-filter">Population</button>
      <%= erb :'_fifty_states_dropdown' %>
      <form id="age-range">
        <label for="age-min">Age Min:</label>
        <input type="text" id="age-min" name="age-min" />
        <label for="age-max">Age Max:</label>
        <input type="text" id="age-max" name="age-max" />
        <input class="age-range-submit" type="submit" />
      </form>
      <button class="button-filter" id="race-filter">Race</button>
      <button class="button-filter" id="age-filter">Age</button>
      <button class="button-filter" id="unarmed">Armed</button>
    </div>

    <div id="infovis">
      <div id='map-one' class='map'></div>
    </div>

    <button class="display-selector display-type" id="heatmaps-selector">Heatmap</button>
    <button class="display-selector" id="markers-selector">Marker Map</button>
    <button class="display-selector" id="graphs-selector">Graph</button>
  </div>
  <div class="program">
    <p class="program-text">People killed by police officers in the United States.</p>
  </div>
</div>
