<div id='container' class="">
  <div id='map-one' class='map'> </div>

  <button class="home">heatmap</button>
  <button class="markers">markermap</button>
  <button class="age-heat">by age heat</button>
  <button class="age-marker">by age marker</button>
  <button class="unarmed">victim armed/unarmed</button>
  
  <form id="age-range" action="">
    <label for="age-min">Age Min:</label>
    <input type="text" id="age-min" name="age-min" />
    <label for="age-max">Age Max:</label>
    <input type="text" id="age-max" name="age-max" />
    <input type="submit">
  </form>

  <div class="program">
    
  </div>

  <div id='chart-wrapper'>
    <div id="infovis"></div>
  </div>
</div>
<!-- <ul id='marker-list'></ul> -->
