<div id='container' class="">
  <div id='map-one' class='map'> </div>

  <div id='chart-wrapper'>
    <div id="infovis"></div>
  </div>

  <button class="button-unarmed">victim armed/unarmed</button>
  <button class="button-home">back</button>
</div>
<!-- <ul id='marker-list'></ul> -->
