ayy

<form class="get-by-state" action="/api/killings" method="get">
  <label for="state">State Abbr ("TX")</label>
  <input type="text" name="state">
</form>

<div class="killings"></div>

<script>
  var killingList = new KillingList();
  var listView;

  $(function(){

    listView = new KillingListView({
      collection: killingList,
      el: $('div.killings')
    });

    killingList.fetch({
      success: function(){
        listView.render();
      }
    });

  })
</script>