<div id='container' class="">
  <div id='map-one' class='map'> </div>

  <button class="button-home">heatmap</button>
  <button class="button-markers">markermap</button>
  <button class="button-age">by age</button>
  <button class="button-unarmed">victim armed/unarmed</button>

  <div class="program">
    
  </div>

  <div id='chart-wrapper'>
    <div id="infovis"></div>
  </div>
</div>
<!-- <ul id='marker-list'></ul> -->
