<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="/public/javascripts/lib/jquery.js"></script>
  <script src="/public/javascripts/lib/underscore.js"></script>
  <script src="/public/javascripts/lib/backbone.js"></script>
  <title>Police Killings</title>
</head>
<body>
  <%= yield %>
</body>
</html>