<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="/javascripts/lib/jquery.js"></script>
  <script src="/javascripts/lib/underscore.js"></script>
  <script src="/javascripts/lib/backbone.js"></script>

  <script src="/javascripts/models/Killing.js"></script>
  <script src="/javascripts/collections/KillingList.js"></script>
  <script src="/javascripts/views/KillingView.js"></script>
  <script src="/javascripts/views/KillingListView.js"></script>
  <script src="/javascripts/app.js"></script>
  <title>Police Killings</title>
</head>
<body>
  <%= yield %>
</body>
</html>