body {
  background-color: rgb(206,213,173);
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  height: 43em;
  width: 100%;
}

.map {
  position: absolute;
  height: 65%;
  width: 62%;
  top: 0%;
  left: 19%;
}

#chart-wrapper {
  position: absolute;
  height: 25%;
  width: 30%;
  left: 35%;
  bottom: 2%;
  height: 171px;
  width: 380px;
}

#infovis {
  height: 171px;
  width: 380px;
}

button {
  display: block;
  margin: 1em;
}