body {
  background-color: rgba(206,213,173,1);
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

#container {
  position: relative;
  height: 43em;
  width: 100%;
  margin: 0px;
  padding: 1em;
}

.button-filter {
  display: block;
  height: 6%;
  margin-bottom: 1em;
  border: none;
  border-radius: 6px;
  font-family: 'Oswald';
  font-size: 0.9em;
  padding: 0.6em 0.8em;
  border: 1px solid #ccd;
}

.button-filter.filter-type {
  background-color: #ddd;
  font-size: 1.2em;
}

#age-range input, label {
  margin: 0.5em 1em;
  display: none;
}

.map {
  position: absolute;
  height: 62%; /* for main view */
/*  height: 73%; */ /* for state view */
  width: 62%;
  top: 0%;
  left: 19%;
}

.display-selector {
  display: inline;
  position: absolute;
  border: none;
  font-size: 1.2em;
  border-radius: 6px;
  font-family: 'Oswald';
  height: 6%;
  width: 21%;
  top: 62%;}

#heatmaps-selector {
  left: 19%;
}
#markers-selector {
  left: 40%;
}
#graph-selector {
  left: 61%;
}

.display-selector.display-type {
  background-color: #ddd;
  font-size: 1.4em;
}

.program {
  position: absolute;
  height: 67%;
  width: 22%;
  bottom: 10%;
  left: 2%;
}

/*#chart-wrapper {
  position: absolute;
  left: 25%;
  bottom: 5%;
  height: 30%;
  width: 50%;
  background: blue;
}*/

#infovis {
  height: 100%;
  width: 100%;
}
