body {
  background-color: rgb(206,213,173);
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  height: 43em;
  width: 100%;
}

.map {
  position: absolute;
  height: 60%;
  width: 62%;
  top: 0%;
  left: 19%;
}

#chart-wrapper {
  position: absolute;
  left: 25%;
  bottom: 4%;
  height: 35%;
  width: 50%;
}

#infovis {
  height: 100%;
  width: 100%;
}

button {
  display: block;
  margin: 1em;
}